@{
    ViewData["Title"] = "Main board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="messages"></div>
<div>
    <input id="messageInput" placeholder="Your text here" />
    <button id="sendMessageButton"></button>

</div>
<script>
    $(document).ready(function () {
        var socket = new WebSocket('ws://localhost:5000/ws'); // Change the URL to your WebSocket endpoint
        socket.onopen = function () {
            console.log("WebSocket connection established.");
            socket.send("Hello Server!");
        };

        socket.onmessage = function (event) {
            console.log("Message from server: " + event.data);
            $('#messages').append($('<li>').text(event.data)); // Append messages to the list
        };

        socket.onclose = function () {
            console.log("WebSocket connection closed.");
        };

        socket.onerror = function (error) {
            console.error("WebSocket error: " + error);
        };

        $('#sendMessageButton').click(function () {
            var message = $('#messageInput').val();
            socket.send(message);
            $('#messageInput').val(''); // Clear input
        });
    });
</script>
