@model App.Models.ChatView
@{
    ViewData["Title"] = "Hello "+ @Model.User?.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="d-flex flex-column mx-3">
        <div  class="message-box" id="message">
            <div id="loadingMessages" class="text-center">
                <p>Loading messages...</p>
            </div>
            @if (@Model!=null){
                @foreach (var message in Model.MessageResult!)
                {
                    @if (message!=null){
                        <p><strong>@message.UserName:</strong> @message.Content <em>(@message.CreatedAt)</em></p>
                    }
                }
            }
        </div>
        <div class="input-box">
            <div style="flex-grow:1; padding:5px 3px 5px 0">
                <textarea id="chatInput" class="chat-input" rows="1" placeholder="Type a message..."></textarea>
            </div>
            <div class="send-button">
            <button style="width:100%; height:100%; background-color:black; color:white; font-weight:600" id="sendMessageButton">Send</button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    var currentOffset=15;
        var socket = new WebSocket('wss://included-gazelle-tough.ngrok-free.app/ws');

    socket.onopen = function () {
        console.log("WebSocket connection established.");
    };

    socket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        var formattedMessage = `<p><strong>${data.UserName}:</strong> ${data.Content} <em>(${data.CreatedAt})</em></p>`;
        $('#message').append(formattedMessage);
        scrollToBottom();
    };

    socket.onclose = function () {
        console.log("WebSocket connection closed.");
    };

    socket.onerror = function (error) {
        console.error("WebSocket error: " + error);
    };

    $('#sendMessageButton').click(function () {
        var message = $('#chatInput').val();
        if (message.trim().length !== 0){
            socket.send(message);
            $('#chatInput').val('');
        }
    });

    $('#message').scroll(function () {
        if ($('#message').scrollTop() === 0) {
            loadOlderMessages();
        }
    });

    function loadOlderMessages() {
        $('#loadingMessages').show(); 
        setTimeout(function () {
        $.ajax({
            url: 'http://included-gazelle-tough.ngrok-free.app/app/get-older',
            type: 'GET',
            data: { offset: currentOffset, limit: 15 }, 
            success: function (data) {
                data.forEach(function (message) {
                    var formattedMessage = `<p><strong>${message.userName}:</strong> ${message.content} <em>(${message.createdAt})</em></p>`;
                    $('#message').prepend(formattedMessage);
                });
                currentOffset+=data.length;
                $('#loadingMessages').hide(); 
                scrollToTop(); 
            },
            error: function (error) {
                console.error("Error loading older messages:", error);
                $('#loadingMessages').hide(); // Hide loading indicator
            }
        })}, 1000); 
    }

    function scrollToBottom() {
            $('#message').scrollTop($('#message')[0].scrollHeight);
        }

    function scrollToTop() {
            $('#message').scrollTop(0);
        }
    scrollToBottom();
});
</script>
